html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
}
.container-fluid {
    padding: 3% 15%;
}

 h1, h2, h4, h5, h6 {
    font-family: 'Montserrat-Bold', sans-serif !important; 
 }
 p {
     color: #8f8f8f;
 }
 /* sections */
 .white-section {
     background-color: white;
 }
 .colored-section {
    background-color: rgba(0, 0, 255, 0.479);
    color: #fff;

 }
 /* Headings */
.big-heading {
    font-family: 'Montserrat-Black', sans-serif !important;
     font-size: 3.5rem;
     line-height: 1.5;
}
/* Navigation Bar */
.navbar {
    padding-bottom: 0 0 4.5rem ;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif !important;
    color: rgba(245, 245, 245, 0.836) !important;
}
.nav-link:hover {
    color: white !important;
}
/* download buttons */
.download-button {
    margin:  5% 3% 5% 0;
}

/* title image */
/* title */

#title .container-fluid {
    background-image: linear-gradient(rgb(0, 0, 255, 0.479) 60%, white);
    color: white;
    text-align: left;
    padding: 3% 15% 7%;
}

.iphone6-image{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
}
.title-image{
    width: 50%;
    transform: rotate(25deg);
    margin: 2rem;
}
.title-image:hover{
    transform: rotate(22.5deg);
}
/* features */
#features {
    background-color: white;
    position: relative;
    margin: 3rem auto 5rem;
    padding: 3rem auto 5rem;
}
.feature-box {
    text-align: center;
}
.icon {
    color:rgba(0, 0, 255, 0.363);
    margin-bottom: 1rem;
}
.icon :hover {
    color:rgba(0, 0, 255, 0.479); 
}
.feature-title {
    font-size: 1.5rem;
}
/* Testimonials */
#testimonials{
    /* background-color: rgba(0, 0, 255, 0.479); */
    color: whitesmoke;
    z-index: 9;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}
/* press section */
#press {
    /* background-color: rgba(0, 0, 255, 0.479); */
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}


/* Pricing section */
#Pricing {
    padding: 5% auto;
    margin: 5% auto;
}
.pricing-heading {
    margin: 2rem 5%;
    padding: 2rem 5%;

}
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}
/* Call to action */
/* footer */
.social-icon {
    margin: 20px 15px;
}

/* Media Queries */
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}